{% extends 'base.html' %}

{% block head %}{% endblock %}

{% block body %}

<div class="container text-center">
  <div class="about-header px-3 py-3 pt-md-5 pb-md-4 mx-auto">
      <h1 class="display-4 m-2">hellabots</h1>
      <div class="container">
        <p class="lead">providing automation services</p>
      </div>
  </div>
  <div class="container text-center">
    <img class="planets" height="275px" src="{{ url_for('static',filename='assets/img/planets.png') }}"/>
  </div>

</div>

<div class="mt-5 container text-center">
  <div class="about-header px-3 py-3 pt-md-5 pb-md-4 mx-auto">
    <h1 class="h3 m-2">speaky translator</h1>
    <p class="lead"><em><strong>{{ '{:,}'.format(words_translated) }}</strong> words translated</em></p>
    <p class="lead">How it works</p>
      <div class="container text-left">
        <p>The bot uses multiple translation services to get the most accurate result.
          First we detect the language and then route it through either deepL or Google translate,
          two of the most accurate translation services.

          If you are on the free plan, we run the message through a free machine translation service.
          This has feature unlimited, free use!
        </p>
      </div>
  </div>
</div>


<div class="container text-left">
  <div class="about-header px-3 py-3 pt-md-5 pb-md-4 mx-auto">
    <p class="lead">Adding the bot to your server.</p>
      <div class="container text-left">
        <p>
          After purchase, you will be provided a link to add the bot to your server.
          Make sure the server id matches the one you provided during purchase.
        </p>

        <p>
          Once the bot is added to your server, users can use the command <strong>.setlang</strong>
          to set their <em>target language</em>.  This will also create a <strong>'Translate'</strong> role
          and give it to person who used the command.
        </p>

        <p>

        </p>
      </div>
  </div>

  <div class="container-xl text-center">
    <img src="https://media.githubusercontent.com/media/cmooredev/api-keys/master/apiapp/static/assets/img/translator.gif">
  </div>


  <div class="container text-left">
    <div class="about-header px-3 py-3 pt-md-5 pb-md-4 mx-auto">
      <p class="lead">Commands</p>
        <div class="container">

          <div class="text-left">
          <p>
            <strong>.setlang </strong>: sets language for using interacting with select menu. This will also give you the Translate role. To stop translations, remove this role.
          </p>
          <p>
            <strong>.stats </strong>: Check current credits for paid services.
          </p>
          <p>
            <strong>.untranslate </strong>: Remove the translate role.
          </p>

<p>Users must have the translate role in order for the bot to recognize them.</p>


          </div>
        </div>
      </div>
  </div>

<div class="container text-center">
    <div class="about-header px-3 py-3 pt-md-5 pb-md-4 mx-auto">
        <div class="container">
          <p>
            <em>New bots are being added regularly.
            Contact us for custom requests.</em>
          </p>
        </div>
    </div>
</div>

<div class='container text-center my-3'>
  <div class="col-md-4 mx-auto">
        <div class="col-sm-12">
           <a class="btn btn-lg btn-block btn-light mt-2 box-shadow btn-outline-secondary" href="/pricing">Pricing</a>
        </div>
    </div>
</div>



{% endblock %}
