{% extends 'base.html' %}

{% block head %}{% endblock %}

{% block body %}
<div class="container">
      <div class="about-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4 m-5">hellabots</h1>
        <p class="lead">Providing you the best bot and automation services available.</p>
        <div class='container'>
          <p>
              New bots are being added regularly.
              Contact us for custom requests.
          </p>
        </div>
      </div>
</div>


{% endblock %}
