{% extends 'base.html' %}

{% block head %}{% endblock %}

{% block body %}
<div class="container text-center">
  <div class="about-header px-3 py-3 pt-md-5 pb-md-4 mx-auto mt-2">
      <h1 class="display-4 m-2">hellabots</h1>
      <i data-feather="globe"></i>
      <div class="container">
        <p class="lead">automation agency helping communities worldwide</p>
        <p>translation, web scrapping, moderation</p>
      </div>
  </div>

</div>
<div class='container text-center'>
  <div class="col-md-4 mx-auto">
        <div class="col-sm-12">
           <a class="btn btn-lg btn-block btn-dark mt-2 box-shadow" href="/about">Learn more</a>
        </div>
    </div>
</div>


{% endblock %}
