{% extends 'base.html' %}

{% block head %}{% endblock %}

{% block body %}
<div class="container text-center">
  <div class="about-header px-3 py-3 pt-md-5 pb-md-4 mx-auto mt-2">
      <h1 class="display-4 m-2">SpeakyBot</h1>
      <i data-feather="globe"></i>
      <div class="container">
        <p class="lead">discord best translation bot</p>
        <p>fast, accurate, free</p>
        <p class="lead"><em><strong>{{ '{:,}'.format(words_translated) }}</strong> words translated</em></p>
      </div>
  </div>

</div>
<div class='container text-center'>
  <div class="col-md-4 mx-auto">
        <div class="col-sm-12">
           <a class="btn btn-lg btn-block btn-light mt-2 box-shadow btn-outline-secondary" href="/about">Learn more</a>
        </div>
        <div class="col-sm-12 mt-3">
           <p>Looking for a custom bot? Visit our partner site:</p>
           <a class="btn btn-lg btn-block btn-custom mt-2 box-shadow" href="https://www.allbots.xyz" target="_blank">allbots.xyz</a>
           <p class="mt-2">allbots is owned by hellabots</p>
        </div>
    </div>
</div>
<div class="empty">

</div>


{% endblock %}
