{% extends 'base.html' %}

{% block title %}Purchase{% endblock %}

{% block body %}
<div class="container">
<form action="/" method="post">
  <div class="form-group">
    <label for="server_id">server id:</label>

    <input type="text" name="server_id"/>
  </div>
  <div class="form-group">
    <label for="plan">Tier:</label>
    <select class="form-control" id="plan" name="plan">
      <option value="intro">intro</option>
      <option value="basic">basic</option>
      <option value="pro">pro</option>
    </select>
    <input type="submit" value="submit"/>
  </div>
</form>
</div>

{% endblock %}
