{% extends 'base.html' %}

{% block title %}Purchase{% endblock %}


{% block body %}

<div class="container">
  <div class='containter text-center'>
    <div class="about-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4 m-4">Server Information</h1>
        <p class="lead m-3">Enter your server ID.  Please double check it is correct.</p>
    </div>
  </div>
  <div class='container text-center'>
    <form action="/create-checkout-session" method="post">
      <div class="mb-3 form-check">
        <label for="server_id" class="form-label">Server ID</label>
        <input name="server_id" type="number" class="form-control" required="true">
      </div>
      <div class="mb-3 form-check">
        <label for="plan">Tier</label>
        <select class="form-control text-center" id="plan" name="plan">
          <option value="intro">Intro 75,000 characters/month - $10</option>
          <option value="basic">Basic 200,000 characters/month - $18</option>
          <option value="pro">Pro 450,000 characters/month - $29</option>
        </select>
      </div>
      <div class="mb-3 form-check">
      <button type="submit" class="btn btn-primary box-shadow">Submit</button>
      </div>
    </form>
  </div>
</div>

{% endblock %}
