{% extends 'base.html' %}

{% block title %}Purchase{% endblock %}


{% block body %}

<div class="container text-center">
  <div class='containter text-center'>
    <div class="about-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h3>Server Information</h3>
        <p class="lead m-3">Enter your server ID.</p>
        <p class="m-3">Please double check it is correct.</p>
    </div>
  </div>
  <div class='container text-center server-form'>
    <form action="/create-checkout-session" method="post">
      <div class="form-check mb-4 text-left">
        {{ form.csrf_token }}
        {{ form.server_id.label }} {{ form.server_id(size=18, class="form-control") }}

        {% if form.errors %}
            {% for field_name, field_errors in form.errors|dictsort if field_errors %}
              {% for error in field_errors  %}
                {{ error }}
              {% endfor %}
            {% endfor %}
        {% endif %}
      </div>
      <div class="form-check mb-4 text-left">
        <label for="plan">Tier</label>
        <select class="form-control text-center" id="plan" name="plan">
          <option value="intro">Intro 75,000 characters/month - $5</option>
          <option value="basic">Basic 200,000 characters/month - $10</option>
          <option value="pro">Pro 500,000 characters/month - $20</option>
        </select>
      </div>
      <div class="form-check mb-4">
      <button type="submit" class="btn btn-dark box-shadow">Submit</button>
      </div>
    </form>
  </div>
  <div class='containter text-center'>
    <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <p class="m-3">Entering an incorrect discord server id could result in a loss of credits.</p>
    </div>
  </div>
</div>

{% endblock %}
