{% extends 'base.html' %}

{% block title %}Purchase{% endblock %}


{% block body %}

<div class="container form-container">
  <form action="/create-checkout-session/{{plan}}" method="post">
    <div class="mb-3 form-check">
      <label for="server_id" class="form-label">Server ID</label>
      <input name="server_id" type="number" class="form-control" required="true">
    </div>
    <div class="mb-3 form-check">
      <label for="plan">Tier</label>
      <select class="form-control text-center" id="plan" name="plan">
        <option value="Intro">Intro 75,000 characters/month - $10</option>
        <option value="Basic">Basic 200,000 characters/month - $18</option>
        <option value="Pro">Pro 450,000 characters/month - $29</option>
      </select>
    </div>
    <div class="mb-3 form-check">
    <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>

{% endblock %}
