{% extends 'base.html' %}

{% block title %}Success{% endblock %}


{% block body %}

<div class="container">
  <div class="about-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4 m-5">hellabots</h1>
    <p class="lead">Thank you for your purchase.</p>
    <div class='container'>
      <div class="col mx-auto">
        <div class="container text-center  my-5">
          <a class="btn btn-lg btn-block btn-dark mt-2 box-shadow"
          href="https://discord.com/api/oauth2/authorize?client_id=1003830499883622490&permissions=274877975552&scope=bot">
          Add to Server</a>
        </div>
        <p class="container text-center">
          Use this link to add the bot to your server.
        </p>
      </div>
    </div>
  </div>
  <div class="container text-center">

  </div>
</div>

{% endblock %}
