html, body {padding:0; margin:0; height:100%;}
footer{bottom: 0; left: 0; right: 0; background-color: white;}

.container {
  max-width: 960px;
}

.show {
  background-color: red;
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.page {
  height: 100vh;
}

.footer {
  width: 100%;
  margin: auto;
  padding: 100px;
  text-align: center;
  -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    -ms-transition: padding 0.3s;
    -o-transition: padding 0.3s;
    transition: padding 0.3s;
}
.form-container {
  width: 50%;
}

.smaller {
    padding: 10px;
}


@media only screen and (max-width: 768px) {
  html {
    font-size: 15px;
  }
  footer {
    position: relative;
  }
  .form-container {
    width: 95%;
  }
}
