html, body {padding:0; margin:0; height:100%; width: 100%;}
footer{bottom: 0; left: 0; right: 0; }
body{background-color: #116DE4; color: white;}
img {max-width: 90%;}

.container {
  max-width: 960px;
  background-color: #116DE4;
  color: white;
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}

.card-header {
  width: 100%;
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.page {
  height: 100vh;
}

.empty {
  height: 300px;
}

.error {
  color: red;
}

.footer {
  height: 100px;
  width: 100%;
  margin: auto;
  text-align: center;
}

.planets {
  max-width:400px;
}

.server-form {
  width: 600px;
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 15px;
  }
  .post-one{
      background-image: none;
      background-position: center;
      background-size: cover;
  }

  .form-container .server_form {
    width: 95%;
  }
  .server-form {
    width: 95%;
  }
}
